/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker)
@import "bootstrap-sprockets"
@import "bootstrap"

body
  padding: 2em
  background: linear-gradient(#989898, darkred)

html
  height: 100%

h1, h2, h3, h4, h5, h6, th
  font-family: 'Permanent Marker', cursive

th
  text-align: center
  border-bottom: 1px solid

table.posts
  width: 100%

.page-title
  font-weight: bold
  font-size: 4em
  font-family: 'Permanent Marker', cursive
  width: 100%
  text-align: center
  color: darkred

span.rating
  color: orange

.alerts
  position: relative
  float: right
  font-weight: bold

div#background
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  opacity: 0.2
  z-index: -1

div#background img
  width: 100%
